.RadTreeMap_Black {
  border-color: #080808;
  color: #d7d7d7;
  background-color: #464646; }
  .RadTreeMap_Black .k-treemap-title,
  .RadTreeMap_Black .k-treemap-title-vertical {
    border-color: #080808;
    color: #d7d7d7;
    background-color: #161616; }
  .RadTreeMap_Black .k-leaf {
    border-color: #464646;
    color: #d7d7d7;
    background-color: #464646; }
  .RadTreeMap_Black .k-leaf.k-inverse {
    color: #464646;
    background-color: #d7d7d7; }
  .RadTreeMap_Black .k-leaf.k-state-hover {
    box-shadow: inset 0 0 0 5px #464646; }
