@model IEnumerable<HouseOfSynergy.AffinityDms.Entities.Tenants.Document>
    @*@if (this.ViewBag.ErrorMessage != null)
    {
        if (!string.IsNullOrEmpty(this.ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger">@this.ViewBag.ErrorMessage</div>
        }
    }*@

@{

    var errormessage = (ViewBag.ErrorMessage != null) ? (ViewBag.ErrorMessage) : (string.Empty);
    var successmessage = (ViewBag.SuccessMessage != null) ? (ViewBag.SuccessMessage) : (string.Empty);
    string displayError = "none", displaySuccess = "none";
    if (!(string.IsNullOrEmpty(errormessage)))
    {
        displayError = "";
    }
    if (!(string.IsNullOrEmpty(successmessage)))
    {
        displaySuccess = "";
    }
    <div id="DocumentHistoryErrorMessage" style="display:@displayError">
        <div class="alert alert-danger" style="overflow:auto">
            <div style="float:right;" class="col-sm-12 col-md-12 col-lg-12"><b style="float:right;cursor:pointer" data-hideMessageDiv="#DocumentHistoryErrorMessage" id="hideErrorMessageDiv">X</b></div>
            <div style="word-wrap: break-word;margin-right:30px" id="DocumentHistoryErrorMessageText">@errormessage</div>
        </div>
    </div>
    <div id="DocumentHistorySuccessMessage" style="display:@displaySuccess">
        <div class="alert alert-success" style="overflow:auto">
            <div style="float:right;" class="col-sm-12 col-md-12 col-lg-12"><b style="float:right;cursor:pointer" data-hideMessageDiv="#DocumentHistorySuccessMessage" id="hideSuccessMessageDiv">X</b></div>
            <div style="word-wrap: break-word;margin-right:30px" id="DocumentHistorySuccessMessageText">@successmessage</div>
        </div>
    </div>

}

    @{
        var documentVersions = new List<HouseOfSynergy.AffinityDms.Entities.Tenants.Document>();
        if (this.Model != null) { documentVersions = this.Model.ToList(); }
    }
@(
                    Html.Kendo()
                    .Grid(documentVersions)
                    .Name("DocumentVersionGrid")
                    .Columns
                    (
                        columns =>
                        {
                            columns.Group(group => group
                                   .Title("Document History")
                                   .HeaderHtmlAttributes(new { @style = "text-align: center" })
                                   .Columns(items =>
                                   {
                                       //items.Template(item => (item.Id > 0) ? "<a href='/TenantDocumentIndex/DocumentIndexReadOnlyView/" + item.Id + "'>" + item.Name + "</a>" : "None").HtmlAttributes(new { style = "min-width:250px" }).Title("Document");
                                       items.Template(item => (item.Id > 0) ? "<a href='" + System.Configuration.ConfigurationManager.AppSettings["openfile"] + item.Name + "' target='_blank'>" + item.Name + "</a>" : "None").HtmlAttributes(new { style = "min-width:250px" }).Title("Document");
                                       
                                       items.Template(item => ((item.CheckedOutByUser!=null)? (item.CheckedOutByUser.NameFull):(""))).Title("Checkedout By");
                                       items.Template(item => item.VersionMajor + "." + item.VersionMinor).Title("Versions");
                                   }));
                        }
                    )
            .HtmlAttributes(new { @style = "width:100%;display:inline-block; height:200px" })
            .Scrollable()
)