.RadHtmlChart_BlackMetroTouch.k-chart .k-navigator-hint .k-tooltip {
  color: #ffffff; }

.k-marquee-color {
  color: #ffffff;
  background-color: rgba(37, 160, 218, 0.5);
  border-color: rgba(37, 160, 218, 0.5); }

