.RadButton_BlackMetroTouch {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /* CheckBox and RadioButton Styles */
  /* Primary Button styles */
  /* Right to Left Support */ }
  .RadButton_BlackMetroTouch.rbRounded,
  .RadButton_BlackMetroTouch .rbSplitPart {
    border-radius: 0; }
  .RadButton_BlackMetroTouch.rbButton,
  .RadButton_BlackMetroTouch .rbSplitPart {
    background-color: #222222;
    border-color: #4e4e4e;
    color: #ffffff; }
  .RadButton_BlackMetroTouch.rbButton.rbHovered,
  .RadButton_BlackMetroTouch .rbSplitPart.rbHovered {
    background-color: #25a0da;
    border-color: #25a0da;
    color: #ffffff; }
  .RadButton_BlackMetroTouch.rbButton:focus,
  .RadButton_BlackMetroTouch.rbButton.rbSelected,
  .RadButton_BlackMetroTouch.rbButton.rbToggled,
  .RadButton_BlackMetroTouch.rbButton.rbSelected .rbSplitPart {
    background-color: #0082cc;
    border-color: #0082cc;
    color: #ffffff; }
  .RadButton_BlackMetroTouch .rbSplitPartRight.rbHovered {
    border-left-color: #25a0da; }
  .RadButton_BlackMetroTouch .rbSplitPartRight.rbSelected {
    border-left-color: #0082cc; }
  .RadButton_BlackMetroTouch .rbSplitPartLeft.rbHovered {
    border-right-color: #25a0da; }
  .RadButton_BlackMetroTouch .rbSplitPartLeft.rbSelected {
    border-right-color: #0082cc; }
  .RadButton_BlackMetroTouch.rbCheckBox .rbIcon,
  .RadButton_BlackMetroTouch.rbRadioButton .rbIcon,
  .RadButton_BlackMetroTouch.rbToggleButton .rbIcon {
    color: #444444; }
  .RadButton_BlackMetroTouch.rbCheckBox .rbIcon.rbToggleCheckbox,
  .RadButton_BlackMetroTouch.rbCheckBox .rbIcon.rbToggleCheckboxChecked,
  .RadButton_BlackMetroTouch.rbCheckBox .rbIcon.rbToggleCheckboxFilled,
  .RadButton_BlackMetroTouch.rbToggleButton .rbIcon.rbToggleCheckbox,
  .RadButton_BlackMetroTouch.rbToggleButton .rbIcon.rbToggleCheckboxChecked,
  .RadButton_BlackMetroTouch.rbToggleButton .rbIcon.rbToggleCheckboxFilled,
  .RadButton_BlackMetroTouch.rbRadioButton .rbIcon.rbToggleRadio,
  .RadButton_BlackMetroTouch.rbRadioButton .rbIcon.rbToggleRadioChecked {
    margin: 0.075em 0.41667em 0 0; }
  .RadButton_BlackMetroTouch .rbText,
  .RadButton_BlackMetroTouch.rbButton.rbCheckBox.rbHovered .rbText,
  .RadButton_BlackMetroTouch.rbButton.rbCheckBox.rbSelected .rbText,
  .RadButton_BlackMetroTouch.rbButton.rbRadioButton.rbHovered .rbText,
  .RadButton_BlackMetroTouch.rbButton.rbRadioButton.rbSelected .rbText,
  .RadButton_BlackMetroTouch.rbButton.rbToggleButton.rbHovered .rbText,
  .RadButton_BlackMetroTouch.rbButton.rbToggleButton.rbSelected .rbText,
  .RadButton_BlackMetroTouch.rbButton.rbCheckBox.rbHovered .rbIcon,
  .RadButton_BlackMetroTouch.rbButton.rbRadioButton.rbHovered .rbIcon,
  .RadButton_BlackMetroTouch.rbButton.rbToggleButton.rbHovered .rbIcon,
  .RadButton_BlackMetroTouch.rbButton.rbCheckBox.rbSelected .rbIcon,
  .RadButton_BlackMetroTouch.rbButton.rbRadioButton.rbSelected .rbIcon,
  .RadButton_BlackMetroTouch.rbButton.rbToggleButton.rbSelected .rbIcon,
  .RadButton_BlackMetroTouch.rbButton.rbCheckBox.rbHovered.rbSelected .rbIcon,
  .RadButton_BlackMetroTouch.rbButton.rbRadioButton.rbHovered.rbSelected .rbIcon,
  .RadButton_BlackMetroTouch.rbButton.rbToggleButton.rbHovered.rbSelected .rbIcon,
  .RadButton_BlackMetroTouch.rbCheckBox.rbSelected .rbText,
  .RadButton_BlackMetroTouch.rbRadioButton.rbSelected .rbText,
  .RadButton_BlackMetroTouch.rbButton.rbToggleButton.rbSelected .rbText {
    color: #ffffff; }
  .RadButton_BlackMetroTouch.rbCheckBox.rbHovered .rbText,
  .RadButton_BlackMetroTouch.rbRadioButton.rbHovered .rbText,
  .RadButton_BlackMetroTouch.rbCheckBox.rbHovered .rbIcon,
  .RadButton_BlackMetroTouch.rbRadioButton.rbHovered .rbIcon,
  .RadButton_BlackMetroTouch.rbToggleButton.rbHovered .rbText,
  .RadButton_BlackMetroTouch.rbToggleButton.rbHovered .rbIcon,
  .RadButton_BlackMetroTouch.rbCheckBox.rbSelected .rbIcon,
  .RadButton_BlackMetroTouch.rbRadioButton.rbSelected .rbIcon,
  .RadButton_BlackMetroTouch.rbCheckBox.rbHovered.rbSelected .rbIcon,
  .RadButton_BlackMetroTouch.rbRadioButton.rbHovered.rbSelected .rbIcon,
  .RadButton_BlackMetroTouch.rbToggleButton.rbHovered.rbSelected .rbText,
  .RadButton_BlackMetroTouch.rbToggleButton.rbHovered.rbSelected .rbIcon {
    color: #25a0da; }
  .RadButton_BlackMetroTouch.rbPrimaryButton {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da;
    background-image: linear-gradient(); }
    .RadButton_BlackMetroTouch.rbPrimaryButton.rbHovered,
    .RadButton_BlackMetroTouch.rbPrimaryButton.rbFocused {
      border-color: #0d87bf;
      color: #ffffff;
      background-color: #0d87bf;
      background-image: linear-gradient();
      box-shadow: none; }
    .RadButton_BlackMetroTouch.rbPrimaryButton.rbSelected {
      border-color: #0071b3;
      color: #ffffff;
      background-color: #0071b3;
      background-image: linear-gradient(); }
  .RadButton_BlackMetroTouch.rbButton.rbRtl .rbSplitPart,
  .RadButton_BlackMetroTouch.rbButton.rbRtl .rbSplitPart.rbHovered {
    border-right-color: #4e4e4e; }
  .RadButton_BlackMetroTouch.rbButton.rbRtl .rbSplitPart.rbSelected {
    border-right-color: #0082cc; }
