.RadCloudUpload_BlackMetroTouch {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadCloudUpload_BlackMetroTouch .rcuButton {
    border-color: #4e4e4e;
    color: #ffffff;
    background-color: #222222; }
  .RadCloudUpload_BlackMetroTouch .rcuInfoPanel {
    border-color: #333333; }
  .RadCloudUpload_BlackMetroTouch .rcuHeader {
    border-color: #4e4e4e;
    color: #ffffff;
    background-color: #222222;
    background-image: none; }
  .RadCloudUpload_BlackMetroTouch .rcuBody {
    border-color: #333333;
    background-color: #000000; }
  .RadCloudUpload_BlackMetroTouch .rcuFileList {
    border-color: #333333;
    color: #ffffff;
    background-color: #000000; }
  .RadCloudUpload_BlackMetroTouch .rcuProgressIcon {
    background-image: url('../BlackMetroTouch/Common/loading_small.gif'); }
  .RadCloudUpload_BlackMetroTouch .rcuProgressBar {
    border-color: #4e4e4e;
    background-color: #222222; }
  .RadCloudUpload_BlackMetroTouch .rcuProgress {
    border-color: #000;
    background-color: #25a0da; }
  .RadCloudUpload_BlackMetroTouch .rcuLIUploading .rcuStatusIcon:before {
    background-image: url('../BlackMetroTouch/Common/loading_small.gif'); }
  .RadCloudUpload_BlackMetroTouch .rcuDropZone {
    color: #ffffff;
    border-color: #333333;
    background-color: rgba(0, 0, 0, 0.8); }
  .RadCloudUpload_BlackMetroTouch .rcuHovered.rcuButton {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  .RadCloudUpload_BlackMetroTouch .rcuButtons .rcuHovered {
    color: #0082cc;
    background: transparent; }
  .RadCloudUpload_BlackMetroTouch .rcuButton.rcuPressed {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }

.rcuToolTip_BlackMetroTouch {
  border-color: #333333;
  color: #ffffff;
  background-color: #000000;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .rcuToolTip_BlackMetroTouch:before {
    color: #000000; }
