.RadListBox_BlackMetroTouch {
  color: #ffffff;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadListBox_BlackMetroTouch .rlbButton {
    border-color: #4e4e4e;
    color: #ffffff;
    background-color: #222222; }
    .RadListBox_BlackMetroTouch .rlbButton:hover:not(.rlbDisabled) {
      border-color: #25a0da;
      color: #ffffff;
      background-color: #25a0da; }
    .RadListBox_BlackMetroTouch .rlbButton:active:not(.rlbDisabled) {
      border-color: #0082cc;
      color: #ffffff;
      background-color: #0082cc; }
  .RadListBox_BlackMetroTouch .rlbGroup,
  .RadListBox_BlackMetroTouch .rlbTemplateContent {
    border-color: #333333;
    color: #ffffff;
    background-color: #000000; }
  .RadListBox_BlackMetroTouch .rlbHeader,
  .RadListBox_BlackMetroTouch .rlbFooter {
    border-color: #4e4e4e;
    color: #ffffff;
    background-color: #222222; }
  .RadListBox_BlackMetroTouch .rlbCheckAllItems {
    color: #ffffff;
    background-color: #222222; }
  .RadListBox_BlackMetroTouch .rlbCheckAllItemsHovered {
    color: #ffffff;
    background-color: #25a0da; }
  .RadListBox_BlackMetroTouch .rlbHighlight {
    color: #ffffff;
    background-color: #25a0da; }
  .RadListBox_BlackMetroTouch .rlbItem.rlbHovered {
    color: #ffffff;
    background-color: #25a0da; }
  .RadListBox_BlackMetroTouch .rlbItem.rlbSelected {
    color: #ffffff;
    background-color: #0082cc; }
  .RadListBox_BlackMetroTouch .rlbDropClue:before {
    content: "";
    position: absolute;
    top: 3px;
    width: 7px;
    height: 7px;
    left: 9px;
    border-radius: 4px;
    background-color: #fff; }
  .RadListBox_BlackMetroTouch .rlbItem.rlbDropClueAbove {
    border-top: 1px solid #fff; }
  .RadListBox_BlackMetroTouch .rlbItem.rlbDropClueBelow {
    border-bottom: 1px solid #fff; }

.RadListBox_BlackMetroTouch.RadListBoxButtonAreaTop.rlbFixedHeight .rlbGroup,
.RadListBox_BlackMetroTouch.RadListBoxButtonAreaTop.rlbFixedHeight .rlbTemplate {
  top: 43px; }

.RadListBox_BlackMetroTouch.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbGroup,
.RadListBox_BlackMetroTouch.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbTemplate {
  bottom: 43px; }
