################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HouseOfSynergy.AffinityDms.WebRole/UploadedFiles/Tenants/1/Documents
