@model HouseOfSynergy.AffinityDms.Entities.Tenants.ScanSession
<div id="template" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close blue" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class=" text-center">Select Template </h4>
            </div>
            <div class="modal-body">
                <div class="search-template text-center">
                    <form class="form-search">
                        <span class="input-icon">
                            <input autocomplete="off" id="nav-search-input" class="nav-search-input" placeholder="Search ..." style="width: 450px;" type="text">
                            <i class="ace-icon fa fa-search nav-search-icon" style="margin-right:10px;"></i>
                        </span>
                    </form>
                </div>
                <div id="templatesHolderDiv" style="margin-top: 15px;">
                </div>
            </div>

        </div>
    </div>
</div>
<input type="hidden" id="H_SelectedDocument" value="-1"/>
<script type="text/javascript">
    $(document).ready(function (e) {
        $("#template").on("show.bs.modal", function (e) {
            $("#templatesHolderDiv").text("");
            $("#templatesHolderDiv").load("../../TenantScanSession/GetTemplates");
        });
    });
</script>
<input type="hidden" data-count="@((this.Model.Documents!=null)?(this.Model.Documents.Count):(0))" data-status="@((this.Model.Finalized)?("Completed"):("Incomplete"))" id="scanDocsInfo" />
@(Html
    .Kendo()
    .Grid(this.Model.Documents)
    .Name("ScanSessionGrid")
    .Columns
    (
        column =>
        {
            column.Bound(item => item.Id).Hidden();
            column.Template(item => "<input type='checkbox' class='ScanSessionCheckboxes' value='false'   data-id='" + item.Id + "'data-name='" + item.Name + "'>")
            .HeaderTemplate("<input type='checkbox'id='ScanSessionChkbox' value='false'>")
            .HeaderHtmlAttributes(new { style = "font-family: 'Lato', sans-serif!important;color:#707070!important;background-color: white;" })
            .Width(50);
            column.Template(item => "<p class='font-16' onclick='javascript:window.location.href=\"../../TenantScanSession/ScanSessionDocumentTemplateViewer?documentId="+item.Id+"\"'><i class='fa fa-file-text' data-id='" + item.Id + "' aria-hidden='true'></i> " + item.Name + "</p>")
            .HeaderTemplate("<p class='font-16'><strong>Document Name</strong></p>")
            .HeaderHtmlAttributes(new { style = "font-family: 'Lato', sans-serif!important;color:#707070!important;background-color: white;" });
            column.Template(item => (item.User.NameFamily))
            .HeaderTemplate("Uploaded by")
            .HeaderHtmlAttributes(new { style = "font-weight: bold;font-family: 'Lato', sans-serif!important;color:#707070!important;background-color: white;" });
            column.Template(item => (item.State))
            .HeaderTemplate("Status")
            .HeaderHtmlAttributes(new { style = "font-weight: bold;font-family: 'Lato', sans-serif!important;color:#707070!important;background-color: white;" });
            column.Template
            (
                item =>
                        "<a onclick='javascript: DisplayTemplateSelectionModal(event)' class='btn btn-blu01 btn-white ' style='background:#2074ca !important; color:#fff !important;'  data-id='" + item.Id + "'data-name='" + item.Name + "'>Change Template</a> &nbsp;" +
                        "<button type='button' class='btn btn-white version '>" +
                        "<i class='fa fa-trash' aria-hidden='true'></i> " +
                        "</button>"
            )
            .HeaderTemplate("<p class='font-16'><strong>Action</strong></p>")
            .HeaderHtmlAttributes(new { style = "font-family: 'Lato', sans-serif!important;color:#707070!important;background-color: white;" });
        }
    )
    .Scrollable(x => x.Height(450))
    .HtmlAttributes(new { style = "margin:10px" })
)
<script type="text/javascript">
    function DisplayTemplateSelectionModal(event)
    {
        var target = event.target;
        var documentId = target.getAttribute("data-id");
        var documentName = target.getAttribute("data-name");
        $("#H_SelectedDocument").attr("data-name", documentName);
        $("#H_SelectedDocument").val(documentId);
        $("#template").modal("show");
    }
</script>