.RadMenu_Black .rmRootGroup {
  border-color: #080808;
  color: #d7d7d7;
  background-color: #161616;
  background-image: linear-gradient(#323232, #161616); }
  .RadMenu_Black .rmRootGroup.rmVertical {
    background-image: none; }
  .RadMenu_Black .rmRootGroup .rmItem {
    border-color: #080808; }
  .RadMenu_Black .rmRootGroup .rmRootLink:hover {
    border-color: #080808;
    color: #ffffff;
    background-color: #2d2d2d;
    background-image: linear-gradient(#424242, #2d2d2d); }
  .RadMenu_Black .rmRootGroup .rmSelected > .rmRootLink,
  .RadMenu_Black .rmRootGroup .rmExpanded > .rmRootLink {
    border-color: #080808;
    color: #9eda29;
    background-color: #303030;
    background-image: linear-gradient(#494949, #303030); }
  .RadMenu_Black .rmRootGroup .rmFocused > .rmLink {
    border-color: #080808;
    box-shadow: inset 0 0 5px #080808; }

.RadMenu_Black .rmGroup,
.RadMenu_Black .rmMultiColumn,
.RadMenu_Black .rmPopup {
  border-color: #080808;
  color: #ffffff;
  background-color: #464646; }

.RadMenu_Black .rmGroup .rmLink {
  border-radius: 3px; }

.RadMenu_Black .rmGroup .rmLink:hover,
.RadMenu_Black .rmGroup .rmToggle:hover {
  border-color: #313131;
  color: #ffffff;
  background-color: #404040;
  background-image: linear-gradient(#5b5b5b, #404040); }

.RadMenu_Black .rmGroup .rmSelected > .rmLink,
.RadMenu_Black .rmGroup .rmExpanded > .rmLink,
.RadMenu_Black .rmGroup .rmSelected > .rmLink .rmToggle,
.RadMenu_Black .rmGroup .rmExpanded > .rmLink .rmToggle {
  border-color: #232323;
  color: #9eda29;
  background-color: #303030;
  background-image: linear-gradient(#424242, #303030); }

.RadMenu_Black .rmGroup .rmFocused > .rmLink,
.RadMenu_Black .rmGroup .rmFocused > .rmLink .rmToggle {
  border-color: #232323;
  box-shadow: inset 0 0 5px #232323; }

.RadMenu_Black .rmSeparator {
  border-color: #080808; }

.RadMenu_Black .rmGroup .rmSeparator {
  border-color: #080808; }

.RadMenu_Black .rmShadows .rmGroup {
  box-shadow: 3px 3px 5px #080808; }

.RadMenu_Black .rmGroup:before,
.RadMenu_Black .rmMultiColumn:before,
.RadMenu_Black .rmScrollWrap > .rmHorizontal:before,
.RadMenu_Black .rmScrollWrap > .rmVertical:before {
  border-color: transparent;
  background-color: #2d2d2d; }

.RadMenu_Black .rmArrow {
  border-color: #202020;
  background-color: #393939; }

.RadMenu_Black .rmArrow:hover {
  background-color: #2d2d2d; }
