.RadUpload_Black {
  color: #ffffff; }

.RadUpload_Black .ruFileLI .ruButton:hover {
  color: #9eda29; }

.RadUpload_Black .ruFileLI .ruFileProgressWrap {
  background-color: #161616;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  border-radius: 2px; }

.RadUpload_Black .ruFileLI .ruFileProgress {
  border-color: #9eda29;
  background-color: #a0db2c;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  border-radius: 2px 0 0 2px; }

.RadUpload_Black .ruSelectWrap .ruFakeInput {
  border-color: #080808; }

.RadUpload_Black .ruSelectWrap .ruButton {
  border-color: #080808;
  color: #ffffff;
  background-color: #1b1b1b;
  background-image: linear-gradient(#7b7b7b, #4a4a4a 50%, #313131 50%, #1b1b1b);
  border-radius: 2px; }
  .RadUpload_Black .ruSelectWrap .ruButton.ruButtonHover {
    border-color: #080808;
    color: #9eda29;
    background-color: #020202;
    background-image: linear-gradient(#5c5c5c, #2a2a2c 50%, #060606 50%, #020202); }

.RadUpload_Black .ruDropZone {
  border-color: #080808;
  color: #d7d7d7;
  background-color: #202020;
  border-radius: 3px; }
