@model IList<HouseOfSynergy.AffinityDms.Entities.Tenants.AuditTrailEntry>
<script>
    var customKendoFunction = new AffinityDms.CustomKendo.KendoFunctions();
</script>
<script type="x/kendo-template" id="page-template">
    <div class="page-template">
        <div class="header">
            Audittrail Report
            <div style="float: right">Page #: pageNum # of #: totalPages #</div>
        </div>
        <div class="watermark"></div>
        <div class="footer">
            @*Page #: pageNum # of #: totalPages #*@
        </div>
    </div>
</script>
<label>From</label>
<input type="date" id="DateFrom" name="DateFrom" placeholder="From" />
<label>To</label>
<input type="date" id="DateTo" name="DateTo" placeholder="To" />
<button type="button" class="btn btn-primary" name="SubmitAuditTrailSearch" id="SubmitAuditTrailSearch" onclick="SubmitAuditTrailSearch(event)">Search By Date Range</button>
    &nbsp;<button class="btn btn-primary" onclick="javascript: customKendoFunction.getPdf('div#AuditTrailGrid', '', 'AuditTrailReport', true)">Export to PDF</button>
<div style="padding:20px;" id="AuditGridHolder">
    @(Html.Kendo().Grid(Model) //Bind the grid to ViewBag.Products
          .Name("AuditTrailGrid")
          .Columns(columns =>
          {
              columns.Bound(item => item.DateTime).Title("Date");
              columns.Bound(item => item.Description).Title("Action Description");
              columns.Bound(item => item.User.NameFull).Title("User Name");
              columns.Bound(item => item.EntityType).Title("Entity Type");
              columns.Bound(item => item.AuditTrailActionType).Title("Action Type");
          })
          //.Pageable()
          .Scrollable(a => a.Height("300px"))
          .Filterable()
          .Pageable(x => x.Enabled(false))
          .HtmlAttributes(new { @style = "height:300px!important;",@class= "AuditTrailGrid" })

    )
    @*//columns.Bound(item => item.DocumentCount).Title("Document Count);
    //createdby, creadted when, modified when , document count*@
</div>
