.RadAutoCompleteBox {
  line-height: 1.42857142857;
  width: 12em;
  display: inline-block;
  vertical-align: middle;
  cursor: default; }
  .RadAutoCompleteBox input,
  .RadAutoCompleteBox input:focus {
    box-shadow: none;
    outline: none; }
  .RadAutoCompleteBox .racTokenList {
    padding: 2px 22px 2px 2px;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    position: relative; }
  .RadAutoCompleteBox .racToken {
    margin: 1px 0 1px;
    padding: 0 24px 0 6px;
    border-width: 1px;
    border-style: solid;
    background-position: 0 0;
    background-repeat: repeat-x;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    position: relative; }
  .RadAutoCompleteBox .racToken + .racToken {
    margin-left: 1px; }
  .RadAutoCompleteBox .racDisabled .racToken,
  .RadAutoCompleteBox .racDisabled .racTextToken {
    filter: alpha(opacity=50);
    opacity: .5; }
  .RadAutoCompleteBox .racToken.racDisabled,
  .RadAutoCompleteBox .racTextToken.racDisabled {
    filter: alpha(opacity=50);
    opacity: .5; }
  .RadAutoCompleteBox .racRemoveTokenLink {
    width: 16px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    top: 50%;
    right: 4px;
    margin: -8px 0 0 0;
    color: inherit;
    text-align: center;
    font-size: 16px;
    font-family: "TelerikWebUI";
    display: inline-block;
    vertical-align: text-top;
    cursor: pointer; }
    .RadAutoCompleteBox .racRemoveTokenLink:before {
      content: "\e038";
      display: block; }
    .RadAutoCompleteBox .racRemoveTokenLink:hover {
      text-decoration: none; }
  .RadAutoCompleteBox .racDisabled .racRemoveTokenLink {
    display: none; }
  .RadAutoCompleteBox .racTextToken {
    padding: 0 0 0 4px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    cursor: pointer; }
  .RadAutoCompleteBox .racTextToken + .racTextToken {
    margin-left: 1px; }
  .RadAutoCompleteBox .racTextToken.racFocused {
    outline: 1px dotted; }
  .RadAutoCompleteBox .racInput {
    margin: 2px;
    padding: 0;
    height: 1.42857142857em;
    line-height: 1.42857142857;
    border: 0;
    color: inherit;
    background: none;
    font: inherit;
    text-indent: 4px;
    display: inline-block;
    vertical-align: top; }
    .RadAutoCompleteBox .racInput::-ms-clear {
      display: none; }
  .RadAutoCompleteBox .racEmptyMessage {
    font-style: italic;
    filter: alpha(opacity=80);
    opacity: .8; }
  .RadAutoCompleteBox .racEditTokenInput {
    margin: 0;
    padding: 0;
    height: 1.42857142857em;
    border: 0;
    color: inherit;
    background: none;
    font: inherit; }
  .RadAutoCompleteBox .racLoadingIcon {
    margin-top: -8px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 2px;
    top: 50%;
    background-position: center;
    background-repeat: no-repeat; }

.racSlide {
  min-width: 11.4285714286em;
  position: absolute;
  z-index: 9999; }

.RadAutoCompleteBoxPopup {
  width: 11.4285714286em;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  line-height: 1.42857142857;
  text-align: left;
  cursor: default;
  position: relative;
  overflow: hidden; }
  .RadAutoCompleteBoxPopup .racList {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    overflow: auto; }
  .RadAutoCompleteBoxPopup .racHeader,
  .RadAutoCompleteBoxPopup .racFooter {
    *zoom: 1;
    padding: 2px 5px;
    border-style: solid; }
    .RadAutoCompleteBoxPopup .racHeader:after,
    .RadAutoCompleteBoxPopup .racFooter:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .RadAutoCompleteBoxPopup .racHeader {
    border-width: 0 0 1px; }
  .RadAutoCompleteBoxPopup .racFooter {
    border-width: 1px 0 0; }
  .RadAutoCompleteBoxPopup .racShowAll {
    margin: 2px -2px -2px;
    padding: 2px 5px;
    border-width: 1px 0 0;
    border-style: solid;
    text-align: center; }
  .RadAutoCompleteBoxPopup .racItem {
    *zoom: 1;
    padding: 4px 10px; }
    .RadAutoCompleteBoxPopup .racItem:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }

.RadAutoCompleteBox.RadAutoCompleteBoxWithLabel .racLabel {
  padding-right: 7px;
  vertical-align: middle; }

.RadAutoCompleteBox.RadAutoCompleteBoxWithLabel .racTokenList {
  display: inline-block;
  vertical-align: middle; }
