@Styles.Render("~/bundles/ChatThemeCSS")
@Scripts.Render("~/bundles/TypeScript")
<script type="text/javascript">
    var discourses = new AffinityDms.Entities.Discourses();
    $(document).ready(function () {
        $("#InviteExternalUserBtn").on("click", function () {
            if ($("#InvitedUsersContainer") != null)
            {
                if ($("#InviteExternalUserText") != null)
                {
                    if ($("#InviteExternalUserText").val() != "") {
                        var InvitedUsersContainer = document.getElementById("InvitedUsersContainer");
                        var id = "email_" + $("#InviteExternalUserText").val();
                        var UserAlreadyExist= false;
                        for (var i = 0; i < InvitedUsersContainer.childNodes.length; i++) {
                            var child =InvitedUsersContainer.childNodes[i];
                            if (child.id == id)
                            {
                                UserAlreadyExist = true;
                                break;
                            }
                        }
                        if (!UserAlreadyExist)
                        {
                            var addElement = document.createElement("button");
                            addElement.classList.add("btn");
                            addElement.classList.add("btn-xs");
                            addElement.classList.add("btn");
                            addElement.id = id;
                            addElement.onclick = function (e) {
                                var btn = e.target;
                                btn.parentElement.removeChild(btn);
                            }
                            addElement.name = "DiscourseNewEmailInvite";
                            addElement.textContent = $("#InviteExternalUserText").val();
                            addElement.setAttribute("data-name", $("#InviteExternalUserText").val());
                            InvitedUsersContainer.appendChild(addElement);
                        }
                    }
                }
            }
        });
    });
</script>
<input type="hidden" id="DynamicModalDataType_H"> 

<input type="hidden" id="ModalBodyId" value="" style="display:none">
<input type="hidden" id="CurrentFolderId" value="0">
<input type="hidden" id="MoveFolderTo" value="0">

<label class="col-lg-7">
    <h4>Title:</h4>
</label>
<input class="col-lg-11" placeholder="Enter Title" type="text" id="PostTitleTxt" style="margin-left:15px;"  >

<div class="" id="uploadAttachmentsDiv" style="display:none;width:100% !important;min-height:140px;max-height: 200px;">
    <div class="col-xs-12">
        <input type="button" value="X" class="btn btn-primary" onclick="javascript: discourses.CloseUploadAttachmentsDiv(event)" style="margin-bottom:10px;float:right">
        <h3 id="uploadAttachmentsHeader"></h3>
        <div id="uploadAttachmentsContainer">
        </div>
    </div>
    <div class="clearfix pull-right panel-body">
        <button class="btn btn-primary btn-radius pull-right" onclick="javascript: discourses.SaveDynamicSelectionModal(event)" style="margin-right: 0px">Submit</button>
    </div>
</div>
<div class="col-lg-12"  id="discourseCommentEditor">
    <h4 class="col-lg-12" style="margin-left:-8px;">Description:</h4>
<div class="form-group">
    <div id="PostComment">
        @(Html.Kendo().Editor()
        .Name("CommentTextEditor")
        .HtmlAttributes(new { style = "height:340px" })
        .Tools(tools => tools
        .CustomTemplate
        (
            ct =>
            ct.Template(
                        "<li class='k-tool-group k-button-group' role='presentation'>" +
                            "<a  role='button' class='k-tool k-group-start ' onclick='javascript: discourses.ShowDynamicModal(event)' data-type='Document'>" +
                                "<span unselectable='on' class=''><img src='../../Multimedia/Graphics/Images/Document.png' title='Upload Document'></span>" +
                                "<span class='k-tool-text'>Upload Document</span>" +
                            "</a>" +
                        "</li>" +

                            "<li class='k-tool-group k-button-group' role='presentation'>" +
                            "<a  role='button' class='k-tool' onclick='javascript: discourses.ShowDynamicModal(event)' data-type='External'>" +
                                "<span unselectable='on' class=''><img src='../../Multimedia/Graphics/Images/Browse.png' title='Upload External' width='20px' height='20px'></span>" +
                                "<span class='k-tool-text'>Upload External</span>" +
                            "</a>" +
                        "</li>" +
                        "</li>" +
                            "<li class='k-tool-group k-button-group' role='presentation'>" +
                            "<a  role='button' class='k-tool k-group-end' onclick='javascript: discourses.ShowDynamicModal(event)' data-type='Live'>" +
                                "<span unselectable='on' class=''><img src='../../Multimedia/Graphics/Images/Url.png' title='Upload Live' width='20px' height='20px'></span>" +
                                "<span class='k-tool-text'>Upload Live</span>" +
                            "</a>" +
                        "</li>"
                    )
            )

        )

        )

    </div>
    <div id="PostAttachmentsDiv">

    </div>
</div>
    </div>
<div class="col-lg-12">
    <label class="col-lg-12" style="Margin-left:-10px;">
        <h5><b>Invite External Users:</b></h5>
    </label>
</div>
<div class="col-lg-12">
    <input class="col-lg-9" placeholder="Invite Through Email" id="InviteExternalUserText" type="text">
    <input type="button" class="btn btn-primary col-lg-2" style="margin-left:10px; height:35px; line-height:0;" id="InviteExternalUserBtn"value="Invite">
    <div id="InvitedUsersContainer" class="col-lg-11">
    </div>
</div>
<div class="col-lg-12">
   
    <label class="col-lg-12" style="Margin-left:-10px;">
        <h5><b>Add / Remove Users:</b></h5>
    </label>
</div>
<div class="col-lg-12">
    <div id="UsersList" style="display:inline-block">
        @{
            Html.RenderPartial("~/Views/Tenants/Users/_TenantUsersSelection.cshtml", (List<HouseOfSynergy.AffinityDms.Entities.Tenants.User>)this.ViewBag.UserList);
        }
    </div>

</div>

<input type="button" class="btn btn-primary col-lg-2 pull-right" style="Margin:20px;" onclick="javascript: discourses.CreatePost(event)" value="Create Chat">
