@using HouseOfSynergy.AffinityDms.ResourceProvider

@{
    this.Layout = "~/Views/Shared/_LayoutTenantPublic.cshtml";
    this.ViewBag.Title = "Cobox - Home";/*ResourceManagement.DesktopClient_ProductName + " - Home";*/
}

<h1>Affinity DMS - Tenant</h1>

<div>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis pulvinar porttitor. Pellentesque aliquet blandit auctor. Donec felis tellus, sodales sit amet dui vel, aliquet efficitur libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis non eleifend est. Vivamus nec aliquet dolor. Fusce id nibh neque. Ut id finibus dui. Nam eu lectus vehicula, interdum ex dignissim, faucibus nulla. Donec non sem elementum, maximus diam quis, facilisis diam. Pellentesque lobortis viverra consequat.
	<br /><br />
	Curabitur suscipit neque nunc, non dictum eros tempus sed. Nulla facilisi. Nullam ornare diam ac tincidunt ullamcorper. Maecenas ullamcorper est sed ex fringilla elementum. Vivamus consectetur libero a ligula aliquet, eget imperdiet libero fermentum. Aliquam dolor mi, tincidunt ut lacus nec, suscipit consectetur tellus. Mauris efficitur imperdiet sapien, ac dapibus ligula fermentum consequat. Donec lectus orci, aliquam sed eros quis, volutpat imperdiet dui. Quisque at tortor sapien. Quisque dui tellus, commodo in commodo sit amet, congue eu eros. Aenean bibendum facilisis hendrerit. Vivamus fermentum, mauris mollis malesuada dignissim, velit arcu malesuada magna, pulvinar scelerisque metus ante et lectus. Nulla facilisis lacus dui, sit amet vulputate dolor cursus id. Aenean volutpat orci elit, sit amet laoreet massa vulputate id.
	<br /><br />
	Duis diam urna, ultrices vel consequat lacinia, laoreet vel neque. Quisque accumsan diam erat, a posuere mauris semper ac. Aliquam arcu ex, elementum sed mi a, feugiat posuere odio. Aliquam pellentesque tempor nisl, sit amet facilisis massa auctor ut. Suspendisse ex tortor, egestas vel mauris et, luctus luctus libero. Praesent ac interdum justo, sed accumsan mauris. Vivamus id nunc vitae tortor tincidunt fermentum. Fusce eget lectus arcu. Pellentesque at dui iaculis, sollicitudin elit ac, porta nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur condimentum vestibulum euismod. Sed id eleifend nisi. Cras massa dui, finibus a congue lacinia, feugiat vitae massa. Cras a gravida sapien. Donec eget libero quis leo rutrum ultrices. Ut aliquet convallis nisi, euismod ultrices purus rutrum aliquam.
	<br /><br />
	Ut ac ipsum mi. Nam sodales massa sed mattis sodales. Nulla facilisi. Etiam lectus tellus, vestibulum ut egestas ut, mollis eu lacus. Nunc fringilla vehicula convallis. Aenean eget lacus mollis, condimentum felis at, lacinia elit. Phasellus dictum id erat sit amet luctus. Nulla laoreet lorem nec nisl hendrerit ornare. Sed sem mi, mattis et turpis eu, egestas sollicitudin ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra dui gravida, ultrices sem eget, euismod ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed id ante lobortis, consectetur ex quis, lobortis mi. Etiam feugiat ex sed mollis pretium.
	<br /><br />
	Nullam sit amet risus scelerisque, porta lacus vitae, suscipit felis. Ut mattis at eros quis pretium. Fusce sollicitudin turpis vel orci hendrerit, ut rutrum felis lobortis. Aliquam ipsum tortor, luctus at fringilla nec, finibus non enim. Sed sollicitudin risus a quam aliquet, in varius nisi posuere. Mauris lobortis erat eget lacinia condimentum. Nullam in imperdiet eros, in accumsan ante.
</div>