
    .viewer-container {
        height: 470px;
    }

    .thumbnails-container {
        height: 130px;
        font-size: 8px;
    }

    @@media (min-width: 768px) {
        .viewer-container,
        .thumbnails-container {
            height: 600px;
        }
    }

    
   