#DivBody {
    display: inline-block;
    height:750px;
}
#DivToolBox {
  display: inline-block;
  left: 1%;margin-left: 30px;
  top: 5%; width: 5%;
  height: 100%;
  background-color: steelblue;
  float:left;
    }

#DivPage{
   display: inline-block;
   position: absolute;
   width: 65%;
   height: 100%;
   background-color: steelblue;
   margin-left: 10px;
}
#DivPropertiesBox{

   display: inline-block;
   margin-right: 3%;
   top: 5%;width: 200px;
   height: 100%; 
   background-color: steelblue;
   float:right;
   z-index:1500;

}
#DivToolLabel {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
}
#DivToolTextBox {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;    
    margin-top: 10px;
    margin-right: auto; 
}
#DivToolTextArea {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;    
    margin-top: 10px;
    margin-right: auto;
}
#DivToolImage {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;    
    margin-top: 10px;
    margin-right: auto;
}

#DivToolRadioButton {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
}
#DivToolCheckBox {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;    
    margin-top: 10px;
    margin-right: auto;
}
#DivToolLineHorizontal {
    width:30px;
    height: 5px;
    display: block;
    margin-left: auto;    
    margin-top: 10px;
    margin-right: auto;
}

#DivToolLineVertical{
    width:  5px;
    height: 30px;
    display: block;
    margin-left: auto;    
    margin-top: 10px;
    margin-right: auto;
}

#DivToolCircle {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;    
    margin-top: 10px;
    margin-right: auto;
}
#DivToolBarcode2D {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;    
    margin-top: 10px;
    margin-right: auto;
}