@model IEnumerable<HouseOfSynergy.AffinityDms.Entities.Tenants.DiscoursePost>
@*@this.ViewBag.Topic = @this.Model.Topic;
    @this.ViewBag.Description= @this.Model.Description;*@
<div id="MainPostContainer">
    @if (this.Model != null)
    {
        foreach (var discoursePost in this.Model)
        {
            if (discoursePost.Versions.Count > 1)
            {
                this.ViewBag.EnableHistory = true;
            }
            else
            {
                this.ViewBag.EnableHistory = false;
            }
            var maxPostVersionId = discoursePost.Versions.Select(x => x.Id).Max();
            var maxPostVersion = discoursePost.Versions.Where(x => x.Id == maxPostVersionId).FirstOrDefault();
            if (maxPostVersion != null)
            {
                var id = "PostDivContainer" + discoursePost.Id;
                <div id="@id">
                    @{
                        Html.RenderPartial("~/Views/Tenants/Discourses/_DiscoursePostComment.cshtml", maxPostVersion);
                    }
                </div>
            }
        }
    }

</div>
