@model HouseOfSynergy.AffinityDms.Entities.Tenants.Discourse
@{
    this.ViewBag.Title = "Chats";
    this.Layout = "~/Views/Shared/_LayoutTenantThemePrivate.cshtml";
    this.ViewBag.BreadCrumbsPath = "<li><a href='../../TenantDiscourses/index'>Chats</a></li><li><a href='../../TenantDiscourse/index?id=" + this.Model.Id + "'>"+this.Model.Topic+ "</a></li><li><a href='#'>" + this.Model.Id + "</a></li>";

}

@{ 
    Html.RenderPartial("~/Views/Tenants/Discourses/_Discourse.cshtml", this.Model);
}
