.RadNotification_BlackMetroTouch {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  background-color: #000000;
  border-color: #333333;
  color: #ffffff; }
  .RadNotification_BlackMetroTouch.rnRoundedCorners, .RadNotification_BlackMetroTouch.rnRoundedCorners .rnTitleBar, .RadNotification_BlackMetroTouch .rnCommands a {
    border-radius: 0; }
  .RadNotification_BlackMetroTouch .rnTitleBar {
    border-color: #4e4e4e;
    color: #ffffff;
    background-color: #222222;
    background-image: linear-gradient(); }
  .RadNotification_BlackMetroTouch .rnCommands a:hover {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da;
    background-image: linear-gradient(); }

