.RadOrgChart_BlackMetroTouch {
  color: #ffffff;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /* Loading states */ }
  .RadOrgChart_BlackMetroTouch .rocGroup {
    background: #111; }
  .RadOrgChart_BlackMetroTouch .rocItem,
  .RadOrgChart_BlackMetroTouch .rocItemTemplate {
    color: #ffffff;
    border-color: #4e4e4e;
    background-color: #222; }
  .RadOrgChart_BlackMetroTouch .rocExpandArrow,
  .RadOrgChart_BlackMetroTouch .rocCollapseArrow,
  .RadOrgChart_BlackMetroTouch .rocExpandGroupArrow,
  .RadOrgChart_BlackMetroTouch .rocCollapseGroupArrow {
    color: #ffffff;
    border-color: #4e4e4e;
    background-color: #222;
    text-indent: 0;
    text-align: center; }
  .RadOrgChart_BlackMetroTouch .rocExpandGroupArrow:before {
    content: "\E000"; }
  .RadOrgChart_BlackMetroTouch .rocCollapseGroupArrow:before {
    content: "\E003"; }
  .RadOrgChart_BlackMetroTouch .rocExpandArrow:before {
    content: "\E002"; }
  .RadOrgChart_BlackMetroTouch .rocCollapseArrow:before {
    content: "\E001"; }
  .RadOrgChart_BlackMetroTouch .rocNode:before,
  .RadOrgChart_BlackMetroTouch .rocNode:after,
  .RadOrgChart_BlackMetroTouch .rocGroup:before,
  .RadOrgChart_BlackMetroTouch .rocGroup:after {
    border-color: #333333; }
  .RadOrgChart_BlackMetroTouch .rocLoadingNodes .rocExpandArrow,
  .RadOrgChart_BlackMetroTouch .rocLoadingNodes .rocCollapseArrow,
  .RadOrgChart_BlackMetroTouch .rocLoadingGroups .rocExpandGroupArrow,
  .RadOrgChart_BlackMetroTouch .rocLoadingGroups .rocCollapseGroupArrow {
    background-image: url('../BlackMetroTouch/Common/loading_small.gif'); }

.RadOrgChart_BlackMetroTouch.rocHorizontal .rocExpandArrow:before {
  content: "\E000"; }

.RadOrgChart_BlackMetroTouch.rocHorizontal .rocCollapseArrow:before {
  content: "\E003"; }

.RadOrgChart_BlackMetroTouch.rocHorizontal .rocNode:before,
.RadOrgChart_BlackMetroTouch.rocHorizontal .rocGroup:before,
.RadOrgChart_BlackMetroTouch.rocHorizontal .rocGroup:after,
.RadOrgChart_BlackMetroTouch.rocHorizontal.rocSimple .rocNode:after,
.RadOrgChart_BlackMetroTouch.rocHorizontal.rocSimple .rocItem:after {
  border-color: #555; }

.RadOrgChart_BlackMetroTouch.rocDetachedItem,
.RadOrgChart_BlackMetroTouch.rocDetachedNode {
  border-color: #4e4e4e;
  background-color: #000000; }

.rocToolbar_BlackMetroTouch {
  background: #222222;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .rocToolbar_BlackMetroTouch .rocToolbarButton {
    color: #ffffff;
    border-color: #4e4e4e;
    background-color: #222222;
    background-image: linear-gradient(); }
