html {
   overflow: hidden;
   -ms-touch-action: none;
}

body {
   background: white;
   overflow: hidden;
   color: #4D5F82;
   height: 100%;
   margin: 0;
   -webkit-user-select: none;
   -webkit-text-size-adjust: none;
   font-family: helvetica;
   font-size: 10pt;
}

a {
   color: #4D5F82 !important;
}

button {
   background-color: transparent !important;
   border: #4D5F82 !important;
   color: #4D5F82 !important;
}

#imageViewerContainer {
   overflow: hidden;
   position: fixed;
   display: block;
   left: 210px;
   right: 0px;
   bottom: 31px;
   top: 44px;
   background-color: lightgray;
}

#imageViewerDiv {
   position: relative;
   width: 100%;
   height: 100%;
}

#thumbnailsDiv {
   position: absolute;
   top: 5px;
   bottom: 5px;
   left: 50px;
   right: 5px;
   overflow: auto;
   background-color: white;
   border: 1px solid silver;
   text-align: center;
}

   #thumbnailsDiv > .thumbnailImg {
      margin-top: 5px;
      margin-bottom: 5px;
      border: 2px solid silver;
      cursor: pointer;
   }

      #thumbnailsDiv > .thumbnailImg.checked {
         border-color: black;
      }



@media screen and (max-width: 1024px) {
   .sidebar-left {
      transition: all 0.15s ease-out;
      left: 0px !important;
   }
}
