.RadButton {
  font: inherit;
  vertical-align: top;
  cursor: pointer;
  outline: 0; }
  .RadButton.rbButton {
    line-height: 1.42857143;
    padding: 4px 10px;
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
    min-width: 64px; }
  .RadButton.rbButton.rbIconOnly {
    min-width: unset;
    min-width: auto;
    padding: 4px; }
  .RadButton::-moz-focus-inner {
    padding: 0;
    border: 0;
    outline: 0; }
  .RadButton.rbRounded {
    border-radius: 0.21428571em; }
  .RadButton .rbIcon {
    display: inline-block;
    width: 1.14285714em;
    height: 1.14285714em;
    vertical-align: text-top;
    background-repeat: no-repeat; }
  .RadButton .rbPrimaryIcon {
    margin: 0em 0.35714286em 0em 0em; }
  .RadButton .rbSecondaryIcon {
    margin: 0em 0em 0em 0.35714286em; }
  .RadButton .rbIcon:before {
    display: inline-block;
    line-height: 1;
    font-family: "TelerikWebUI";
    font-size: 1.33333em; }
  .RadButton.rbPrimary,
  .RadButton.rbSecondary {
    position: relative; }
  .RadButton.rbButton.rbPrimary {
    padding-left: 1.5em; }
    .RadButton.rbButton.rbPrimary .rbText {
      margin-left: 10px; }
  .RadButton.rbButton.rbSecondary {
    padding-right: 1.5em; }
    .RadButton.rbButton.rbSecondary .rbText {
      margin-right: 10px; }
  .RadButton.rbPrimary .rbIcon,
  .RadButton.rbSecondary .rbIcon {
    position: absolute; }
  .RadButton.rbPrimary .rbIcon:before,
  .RadButton.rbSecondary .rbIcon:before {
    vertical-align: top; }
  .RadButton.rbPrimary .rbPrimaryIcon {
    left: 10px; }
  .RadButton.rbSecondary .rbSecondaryIcon {
    right: 10px; }
  .RadButton .rbCustomIcon {
    background-repeat: no-repeat; }
  .RadButton .rbText {
    display: inline-block;
    vertical-align: top; }
  .RadButton .rbToggleCheckbox + span.rbText,
  .RadButton .rbToggleCheckboxChecked + span.rbText,
  .RadButton .rbToggleRadio + span.rbText,
  .RadButton .rbToggleRadioChecked + span.rbText,
  .RadButton .rbToggleCheckboxFilled + span.rbText,
  .RadButton .rbIcon + span.rbText {
    display: inline; }
  .RadButton.rbCheckBox .rbText,
  .RadButton.rbRadioButton .rbText,
  .RadButton.rbToggleButton .rbText {
    vertical-align: top; }
  .RadButton.rbCheckBox .rbIcon.rbToggleCheckbox,
  .RadButton.rbCheckBox .rbIcon.rbToggleCheckboxChecked,
  .RadButton.rbCheckBox .rbIcon.rbToggleCheckboxFilled,
  .RadButton.rbToggleButton .rbIcon.rbToggleCheckbox,
  .RadButton.rbToggleButton .rbIcon.rbToggleCheckboxChecked,
  .RadButton.rbToggleButton .rbIcon.rbToggleCheckboxFilled,
  .RadButton.rbToggleButton .rbIcon.rbToggleRadio,
  .RadButton.rbToggleButton .rbIcon.rbToggleRadioChecked,
  .RadButton.rbRadioButton .rbIcon.rbToggleRadio,
  .RadButton.rbRadioButton .rbIcon.rbToggleRadioChecked {
    margin: 0.14285714em 0.42857143em 0em 0em;
    margin: 0em 0.42857143em 0em 0em \9; }
  .RadButton _:-ms-fullscreen, .RadButton.rbCheckBox .rbIcon.rbToggleCheckbox,
  .RadButton _:-ms-fullscreen, .RadButton.rbCheckBox .rbIcon.rbToggleCheckboxChecked,
  .RadButton _:-ms-fullscreen, .RadButton.rbCheckBox .rbIcon.rbToggleCheckboxFilled,
  .RadButton _:-ms-fullscreen, .RadButton.rbToggleButton .rbIcon.rbToggleCheckbox,
  .RadButton _:-ms-fullscreen, .RadButton.rbToggleButton .rbIcon.rbToggleCheckboxChecked,
  .RadButton _:-ms-fullscreen, .RadButton.rbToggleButton .rbIcon.rbToggleCheckboxFilled,
  .RadButton _:-ms-fullscreen, .RadButton.rbToggleButton .rbIcon.rbToggleRadio,
  .RadButton _:-ms-fullscreen, .RadButton.rbToggleButton .rbIcon.rbToggleRadioChecked,
  .RadButton _:-ms-fullscreen, .RadButton.rbRadioButton .rbIcon.rbToggleRadio,
  .RadButton _:-ms-fullscreen, .RadButton.rbRadioButton .rbIcon.rbToggleRadioChecked {
    margin: 0em 0.42857143em 0em 0em; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadButton.rbCheckBox .rbIcon.rbToggleCheckbox,
    .RadButton.rbCheckBox .rbIcon.rbToggleCheckboxChecked,
    .RadButton.rbCheckBox .rbIcon.rbToggleCheckboxFilled,
    .RadButton.rbToggleButton .rbIcon.rbToggleCheckbox,
    .RadButton.rbToggleButton .rbIcon.rbToggleCheckboxChecked,
    .RadButton.rbToggleButton .rbIcon.rbToggleCheckboxFilled,
    .RadButton.rbToggleButton .rbIcon.rbToggleRadio,
    .RadButton.rbToggleButton .rbIcon.rbToggleRadioChecked,
    .RadButton.rbRadioButton .rbIcon.rbToggleRadio,
    .RadButton.rbRadioButton .rbIcon.rbToggleRadioChecked {
      margin: 0.07142857em 0.5em 0em 0em; } }
  .RadButton .rbToggleCheckbox:before,
  .RadButton .rbToggleCheckboxChecked:before,
  .RadButton .rbToggleCheckboxFilled:before,
  .RadButton .rbToggleRadio:before,
  .RadButton .rbToggleRadioChecked:before {
    content: ""; }
  .RadButton .rbToggleCheckbox:before {
    content: "\E14E"; }
  .RadButton .rbToggleCheckboxChecked:before {
    content: "\E14D"; }
  .RadButton .rbToggleCheckboxFilled:before {
    content: "\E14F"; }
  .RadButton .rbToggleRadio:before {
    content: "\E14C"; }
  .RadButton .rbToggleRadioChecked:before {
    content: "\E14B"; }
  .RadButton .rbSplitPart {
    display: inline-block;
    width: 1.14285714em;
    height: 2.14285714em;
    vertical-align: text-top;
    overflow: hidden;
    cursor: pointer; }
  .RadButton .rbSplitPartRight {
    margin: -0.35714286em -0.71428571em -0.35714286em 0.35714286em;
    border-radius: 0em 0.21428571em 0.21428571em 0em;
    border-left-width: 1px;
    border-left-style: solid;
    float: right; }
  .RadButton .rbSplitPartLeft {
    margin: -0.35714286em 0.35714286em -0.35714286em -0.71428571em;
    border-radius: 0.21428571em 0em 0em 0.21428571em;
    border-right-width: 1px;
    border-right-style: solid;
    float: left; }
  .RadButton .rbSplitIcon {
    margin: 0.35714286em 0em 0em -0.14285714em;
    font-size: 16px; }
  .RadButton .rbSplitIcon:before {
    display: inline-block;
    content: "\E002"; }
  .RadButton.rbButton.rbImageButton {
    background-image: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0 none;
    border-radius: 0;
    min-width: auto;
    min-width: unset; }
  .RadButton.rbDisabled {
    opacity: .7;
    cursor: default; }
  .RadButton.rbRtl .rbIcon {
    margin: -0.07142857em -0.35714286em 0em 0.35714286em; }
  .RadButton.rbRtl.rbIconOnly .rbIcon {
    margin: -0.07142857em 0.14285714em 0em 0.28571429em; }
  .RadButton.rbRtl .rbSplitPart {
    margin: -0.07142857em 0.35714286em -0.14285714em -0.71428571em;
    border-left: 0 none;
    border-radius: 0.21428571em 0em 0em 0.21428571em;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: transparent; }
  .RadButton.rbRtl .rbSplitPart .rbIcon {
    margin: 0.07142857em -0.14285714em 0em 0.35714286em; }
  .RadButton.rbRtl .rbToggleCheckbox,
  .RadButton.rbRtl .rbToggleCheckboxChecked,
  .RadButton.rbRtl .rbToggleCheckboxFilled,
  .RadButton.rbRtl .rbToggleRadio,
  .RadButton.rbRtl .rbToggleRadioChecked {
    margin-right: auto;
    margin-left: 0.21428571em; }
  .RadButton.rbRtl.rbRtl.rbCheckBox .rbIcon.rbToggleCheckbox,
  .RadButton.rbRtl.rbCheckBox .rbIcon.rbToggleCheckboxChecked,
  .RadButton.rbRtl.rbCheckBox .rbIcon.rbToggleCheckboxFilled,
  .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleCheckbox,
  .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleCheckboxChecked,
  .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleCheckboxFilled,
  .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleRadio,
  .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleRadioChecked,
  .RadButton.rbRtl.rbRadioButton .rbIcon.rbToggleRadio,
  .RadButton.rbRtl.rbRadioButton .rbIcon.rbToggleRadioChecked {
    margin: 0.14285714em 0em 0em 0.42857143em;
    margin: 0em 0em 0em 0.42857143em \9; }
  .RadButton.rbRtl _:-ms-fullscreen, .RadButton.rbRtl.rbCheckBox .rbIcon.rbToggleCheckbox,
  .RadButton.rbRtl _:-ms-fullscreen, .RadButton.rbRtl.rbCheckBox .rbIcon.rbToggleCheckboxChecked,
  .RadButton.rbRtl _:-ms-fullscreen, .RadButton.rbRtl.rbCheckBox .rbIcon.rbToggleCheckboxFilled,
  .RadButton.rbRtl _:-ms-fullscreen, .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleCheckbox,
  .RadButton.rbRtl _:-ms-fullscreen, .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleCheckboxChecked,
  .RadButton.rbRtl _:-ms-fullscreen, .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleCheckboxFilled,
  .RadButton.rbRtl _:-ms-fullscreen, .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleRadio,
  .RadButton.rbRtl _:-ms-fullscreen, .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleRadioChecked,
  .RadButton.rbRtl _:-ms-fullscreen, .RadButton.rbRtl.rbRadioButton .rbIcon.rbToggleRadio,
  .RadButton.rbRtl _:-ms-fullscreen, .RadButton.rbRtl.rbRadioButton .rbIcon.rbToggleRadioChecked {
    margin: 0em 0em 0em 0.42857143em; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadButton.rbRtl.rbCheckBox .rbIcon.rbToggleCheckbox,
    .RadButton.rbRtl.rbCheckBox .rbIcon.rbToggleCheckboxChecked,
    .RadButton.rbRtl.rbCheckBox .rbIcon.rbToggleCheckboxFilled,
    .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleCheckbox,
    .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleCheckboxChecked,
    .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleCheckboxFilled,
    .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleRadio,
    .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleRadioChecked,
    .RadButton.rbRtl.rbRadioButton .rbIcon.rbToggleRadio,
    .RadButton.rbRtl.rbRadioButton .rbIcon.rbToggleRadioChecked {
      margin: 0.07142857em 0em 0em 0.5em; } }
  .RadButton .rbHiddenImages {
    position: absolute;
    top: -9999px;
    visibility: hidden; }
  .RadButton .rbHideElement {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important; }

span.RadButton.rbButton {
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden; }

.rbCheckBox,
.rbRadioButton,
.rbToggleButton {
  background-color: transparent;
  background-image: none;
  border: 0 none;
  padding: 0.35714286em 0em 0.21428571em 0.28571429em;
  padding: 0.42857143em 0em 0.21428571em 0.28571429em \9;
  line-height: 1.42857143; }

.rbRtl.rbCheckBox,
.rbRtl.rbRadioButton,
.rbRtl.rbToggleButton {
  padding: 0.35714286em 0.28571429em 0.21428571em 0em;
  padding: 0.42857143em 0.28571429em 0.21428571em 0em \9; }

_:-ms-fullscreen, .rbCheckBox,
_:-ms-fullscreen, .rbRadioButton,
_:-ms-fullscreen, .rbToggleButton {
  padding: 0.42857143em 0em 0.21428571em 0.28571429em; }

_:-ms-fullscreen, .rbRtl.rbCheckBox,
_:-ms-fullscreen, .rbRtl.rbRadioButton,
_:-ms-fullscreen, .rbRtl.rbToggleButton {
  padding: 0.42857143em 0.28571429em 0.21428571em 0em; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .rbCheckBox,
  .rbRadioButton,
  .rbToggleButton {
    padding: 0.42857143em 0em 0.21428571em 0.28571429em; }
  .rbRtl.rbCheckBox,
  .rbRtl.rbRadioButton,
  .rbRtl.rbToggleButton {
    padding: 0.42857143em 0.28571429em 0.21428571em 0em; } }

.rbCheckBox::-moz-focus-inner,
.rbRadioButton::-moz-focus-inner {
  padding: 0;
  border: 0;
  outline: 0; }

.rbAdd:before {
  content: "\E0CB"; }

.rbRemove:before {
  content: "\E0C3"; }

.rbOk:before {
  content: "\E037"; }

.rbCancel:before {
  content: "\E038"; }

.rbUpload:before {
  content: "\E0C6"; }

.rbDownload:before {
  content: "\E096"; }

.rbPrevious:before {
  content: "\E13E"; }

.rbNext:before {
  content: "\E13B"; }

.rbOpen:before {
  content: "\E0A2"; }

.rbAttach:before {
  content: "\E084"; }

.rbSave:before {
  content: "\E0BD"; }

.rbConfig:before {
  content: "\E0C9"; }

.rbPrint:before {
  content: "\E07E"; }

.rbRefresh:before {
  content: "\E0E6"; }

.rbSearch:before {
  content: "\E0E9"; }

.rbHelp:before {
  content: "\E0FB"; }

.rbCart:before {
  content: "\E0D1"; }

.rbEdit:before {
  content: "\E0D5"; }

.rbRSS:before {
  content: "\E0BC"; }

.rbMail:before {
  content: "\E099"; }

.rbFB:before {
  content: "\E10D"; }

.rbTwitter:before {
  content: "\E10B"; }

.rbLinkedIn:before {
  content: "\E10C"; }

.rbPinterest:before {
  content: "\E10E"; }

.rbYouTube:before {
  content: "\E10F"; }

.rbVimeo:before {
  content: "\E110"; }

.rbBehance:before {
  content: "\E111"; }

.rbDribble:before {
  content: "\E112"; }

.rbGooglePlus:before {
  content: "\E113"; }
