.RadDropDownTree {
  width: 12em;
  line-height: 1.42857142857;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: default; }
  .RadDropDownTree .rddtInner {
    padding: 4px 22px 4px 10px;
    border-width: 1px;
    border-style: solid;
    display: block;
    position: relative;
    overflow: hidden;
    box-sizing: border-box; }
  .RadDropDownTree .rddtExtraPadding {
    padding-right: 42px; }
  .RadDropDownTree .rddtFakeInput {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1.42857142857em;
    display: block;
    overflow: hidden; }
  .RadDropDownTree .rddtEmptyMessage {
    font-style: italic;
    filter: alpha(opacity=80);
    opacity: .8; }
  .RadDropDownTree .rddtClearButton {
    margin-top: -6px;
    padding: 0;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: auto;
    right: 26px;
    border: 1px solid;
    background-color: transparent;
    text-indent: -2px; }
    .RadDropDownTree .rddtClearButton::-moz-focus-inner {
      border: 0;
      padding: 0; }
    .RadDropDownTree .rddtClearButton .rddtClearIcon {
      font-family: "TelerikWebUI";
      text-indent: -1px;
      display: inline-block; }
      .RadDropDownTree .rddtClearButton .rddtClearIcon:before {
        content: "\E038"; }
    .RadDropDownTree .rddtClearButton .rddtButtonText {
      display: none; }
  .RadDropDownTree .rddtEmptyMessage ~ .rddtClearButton {
    opacity: .5; }
  .RadDropDownTree .rddtIcon {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    font-family: "TelerikWebUI";
    margin-top: -8px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 6px;
    text-align: center; }
  .RadDropDownTree .rddtIcon:before {
    content: "\e002";
    width: 1em;
    height: 1em;
    display: inline-block;
    /*vertical-align: -.25ex;*/ }
  .RadDropDownTree .rcbLabel {
    vertical-align: top;
    padding-right: 10px;
    line-height: 22px; }

.RadDropDownTree_rtl {
  text-align: right; }

.rddtSlide,
.rddtDropDownSlide {
  float: left;
  display: none;
  position: absolute;
  overflow: hidden;
  z-index: 7000; }
  .rddtSlide label,
  .rddtDropDownSlide label {
    font-weight: 400; }
  .rddtSlide input[type="checkbox"],
  .rddtDropDownSlide input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
    margin-bottom: 0; }

.rddtPopup {
  *zoom: 1;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  position: relative;
  cursor: default;
  width: 11.4285714286em;
  box-sizing: border-box; }
  .rddtPopup:after {
    content: "";
    height: 0;
    clear: both;
    display: block; }
  .rddtPopup .rddtScroll {
    *zoom: 1;
    position: relative;
    overflow: auto; }
    .rddtPopup .rddtScroll:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rddtPopup .rddtHeader,
  .rddtPopup .rddtFooter {
    *zoom: 1;
    margin: -0.166666666667em;
    padding: 0.25em 0.416666666667em;
    background-repeat: repeat-x; }
    .rddtPopup .rddtHeader:after,
    .rddtPopup .rddtFooter:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rddtPopup .rddtHeader {
    margin-bottom: 0.166666666667em;
    border-bottom-width: 1px;
    border-bottom-style: solid; }
  .rddtPopup .rddtFooter {
    margin-top: 0.166666666667em;
    border-top-width: 1px;
    border-top-style: solid; }
  .rddtPopup.rddtAutoWidth {
    width: auto;
    min-width: 11.4285714286em; }
    .rddtPopup.rddtAutoWidth .rddtScroll {
      width: auto; }
  .rddtPopup .rddtScroll {
    width: 100%;
    height: 100%; }
  .rddtPopup .rddtFilter {
    padding: 3px 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid; }
  .rddtPopup .rddtFilterInput {
    font-family: inherit;
    font-size: inherit;
    margin-left: -1px;
    margin-bottom: 0;
    padding: 1px 0;
    width: 100%;
    border: 1px solid;
    display: block; }
  .rddtPopup .RadTreeView .rtLIHidden {
    display: none; }
  .rddtPopup .RadTreeView em {
    font-weight: bold;
    font-style: normal; }

.rddtPopup_rtl {
  text-align: right;
  direction: rtl; }
