.RadToolBar {
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  line-height: 1.42857143;
  white-space: nowrap;
  cursor: default;
  position: relative;
  text-align: left; }
  .RadToolBar .rtbMore:focus {
    outline: none; }
  .RadToolBar span.rtbImage, .rtbPopup span.rtbImage {
    width: 16px;
    height: 16px; }
  .RadToolBar:before {
    content: "";
    float: left;
    padding: 5px 0;
    height: 1.42857143em; }
  .RadToolBar:after {
    content: "";
    display: block;
    clear: both; }
  .RadToolBar .rtbHidden {
    display: none !important; }
  .RadToolBar .rtbUL {
    max-width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    overflow: hidden; }
  .RadToolBar .rtbLI {
    display: inline-block;
    vertical-align: middle;
    position: relative; }
  .RadToolBar_Horizontal .rtbItem + .rtbItem {
    margin-left: 2px; }
  .RadToolBar .rtbSeparator {
    border-style: solid;
    display: inline-block;
    vertical-align: middle; }
  .RadToolBar .rtbMore {
    padding: 9px;
    width: 1.42857143em;
    min-height: 1.42857143em;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    text-align: center;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: -1px;
    right: -1px;
    bottom: -1px; }
    .RadToolBar .rtbMore:before {
      content: ".";
      width: 0;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden; }
    .RadToolBar .rtbMore .radIcon {
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .RadToolBar .rtbMore .radIcon:before {
      content: "\e012"; }
  .RadToolBar .rtbButton {
    color: inherit;
    display: block;
    padding: 4px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    outline: 0;
    text-align: center; }
    .RadToolBar .rtbButton.rtbIconOnly {
      width: 1.42857143em; }
  .RadToolBar .rtbImage {
    margin: 0 4px 0 -4px;
    display: inline-block;
    vertical-align: middle; }
  .RadToolBar .rtbText {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0; }
  .RadToolBar .rtbArrow {
    margin: -4px -10px -4px 0;
    padding: 4px 8px;
    text-align: center;
    display: inline-block;
    vertical-align: top; }
  .RadToolBar .rtbArrow:before {
    content: ".";
    width: 0;
    display: inline-block;
    vertical-align: top;
    overflow: hidden; }
  .RadToolBar .radIcon {
    width: 1em;
    height: 1em;
    font-size: 16px;
    line-height: 1;
    font-family: "TelerikWebUI";
    display: inline-block;
    vertical-align: middle; }
    .RadToolBar .radIcon:before {
      content: "";
      display: inline-block; }
  .RadToolBar .radIconDown:before {
    content: "\e002"; }
  .RadToolBar .rtbArrow .radIcon {
    margin-left: -.25em;
    margin-right: -.25em; }
  .RadToolBar .rtbIconOnly {
    padding: 4px; }
    .RadToolBar .rtbIconOnly:before {
      content: ".";
      width: 0;
      display: inline-block;
      vertical-align: top;
      overflow: hidden; }
    .RadToolBar .rtbIconOnly .rtbImage {
      margin: -3px 0 0; }
  .RadToolBar .rtbIconOnly.rtbMenuButton .rtbImage {
    margin-right: 0; }
  .RadToolBar .rtbIconOnly.rtbMenuButton,
  .RadToolBar .rtbIconOnly.rtbSplitButton {
    width: auto; }
  .RadToolBar .rtbSplitButton {
    padding: 0; }
    .RadToolBar .rtbSplitButton .rtbSplBtnActivator {
      padding: 4px 10px;
      display: inline-block;
      vertical-align: middle; }
    .RadToolBar .rtbSplitButton .rtbArrow {
      margin: 0;
      border-left-width: 1px;
      border-left-style: solid;
      border-color: inherit; }
  .RadToolBar .RadComboBox .rcbInner:not(.rcbHovered):not(.rcbFocused),
  .RadToolBar .RadComboBox .rcbInner:not(.rcbHovered):not(.rcbFocused) .rcbActionButton {
    border-color: transparent;
    color: inherit;
    background: none;
    box-shadow: none; }
  .RadToolBar .RadDropDownList .rddlInner:not(.rddlHovered):not(.rddlFocused) {
    border-color: transparent;
    color: inherit;
    background: none; }
  .RadToolBar .rtbText + .rtbImage {
    margin: 0 -4px 0 4px; }
  .RadToolBar .rtbVOriented .rtbImage {
    margin: 0 auto 2px;
    display: block; }
  .RadToolBar .rtbVOriented .rtbText + .rtbImage {
    margin: 2px auto 0; }
  .RadToolBar .rtbFocused {
    outline: 0; }
  .RadToolBar .rtbDisabled,
  .RadToolBar.rtbDisabled {
    filter: alpha(opacity=50);
    opacity: .5; }

.RadToolBar_Horizontal .rtbSeparator {
  margin: 0 5px;
  padding: 4px 0;
  border-width: 0 1px;
  height: 1.4286em;
  box-sizing: content-box; }

.RadToolBar_Vertical {
  display: inline-block; }
  .RadToolBar_Vertical .rtbUL,
  .RadToolBar_Vertical .rtbLI {
    display: block; }
  .RadToolBar_Vertical .rtbSeparator {
    margin: 4px 0;
    border-width: 1px 0;
    display: block; }

.rtbSlide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000; }

.rtbSlide .rtbSlide {
  overflow: hidden;
  position: relative;
  z-index: 1; }

.rtbPopup {
  border-width: 1px;
  border-style: solid;
  line-height: 1.42857143;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  cursor: default; }
  .rtbPopup .rtbInner:focus,
  .rtbPopup .rtbLink:focus {
    outline: none; }
  .rtbPopup .rtbPopup {
    border-width: 0;
    background: none; }
  .rtbPopup .rtbHidden {
    display: none !important; }
  .rtbPopup .rtbUL,
  .rtbPopup .rtbMenu,
  .rtbPopup .rtbGroup {
    margin: 0;
    padding: 2px;
    list-style: none;
    position: relative; }
  .rtbPopup .rtbGroup {
    padding: 0;
    padding-bottom: .5px; }
  .rtbPopup .rtbLI {
    display: block;
    position: relative; }
  .rtbPopup .rtbSeparator {
    margin: 2px 0;
    margin-left: 32px;
    border-width: 1px 0;
    border-style: solid; }
    .rtbPopup .rtbSeparator + .rtbSeparator {
      display: none; }
  .rtbPopup .rtbUL > .rtbSeparator {
    margin: 2px 0; }
  .rtbPopup .rtbSplitItem .rtbArrow {
    border-left: 1px solid transparent; }
  .rtbPopup .rtbLink,
  .rtbPopup .rtbInner {
    min-height: 1.42857143em;
    padding: 4px 32px;
    border: 1px solid transparent;
    color: inherit;
    text-decoration: none;
    background-position: 0 0;
    background-repeat: repeat-x;
    display: block;
    position: relative;
    cursor: pointer; }
  .rtbPopup .rtbArrow {
    padding: 4px;
    width: 1.42857143em;
    height: 1.42857143em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0; }
  .rtbPopup .rtbArrow:before {
    content: ".";
    width: 0;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden; }
  .rtbPopup .radIcon {
    width: 1em;
    height: 1em;
    font-size: 16px;
    line-height: 1;
    font-family: "TelerikWebUI";
    display: inline-block;
    vertical-align: middle; }
    .rtbPopup .radIcon:before {
      content: "";
      display: inline-block; }
  .rtbPopup .radIconDown:before {
    content: "\e002"; }
  .rtbPopup .rtbExpanded .radIconDown:before {
    content: "\e001"; }
  .rtbPopup .rtbArrow .radIcon {
    margin-left: -.25em;
    margin-right: -.25em; }
  .rtbPopup .rtbImage {
    margin: -8px 0 0 0;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 4px; }
  .rtbPopup .rtbMenu:before {
    content: "";
    width: 30px;
    height: 100%;
    border-width: 0 1px 0 0;
    border-style: solid;
    display: block;
    position: absolute;
    left: 0;
    top: 0; }
  .rtbPopup.rtbRoundedCorners {
    border-radius: 5px; }
    .rtbPopup.rtbRoundedCorners .rtbMenu:before {
      border-radius: 5px 0 0 5px; }
  .rtbPopup .rtbPopup.rtbRoundedCorners {
    border-radius: 0; }
  .rtbPopup .rtbDisabled {
    filter: alpha(opacity=50);
    opacity: .5; }

.RadToolBar_rtl {
  text-align: right; }
  .RadToolBar_rtl_Horizontal .rtbItem + .rtbItem {
    margin-left: 0;
    margin-right: 2px; }
  .RadToolBar_rtl .rtbImage {
    margin-left: 4px;
    margin-right: -4px; }
  .RadToolBar_rtl .rtbImage + .rtbText {
    margin-left: 0;
    margin-right: 5px; }
  .RadToolBar_rtl .rtbText + .rtbImage {
    margin-left: 0;
    margin-right: 3px; }
  .RadToolBar_rtl .rtbArrow {
    margin: -4px 0 -4px -10px; }
  .RadToolBar_rtl .rtbSplitButton .rtbArrow {
    margin: 0;
    border-left: 0;
    border-right-width: 1px;
    border-right-style: solid; }

.RadToolBarDropDown_rtl {
  direction: rtl; }
  .RadToolBarDropDown_rtl .rtbArrow {
    right: auto;
    left: 0; }
  .RadToolBarDropDown_rtl .rtbArrow:before {
    content: ".";
    width: 0;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden; }
  .RadToolBarDropDown_rtl .rtbImage {
    left: auto;
    right: 4px; }
  .RadToolBarDropDown_rtl .rmSeparator {
    margin-left: 0;
    margin-right: 32px; }
  .RadToolBarDropDown_rtl .rtbMenu:before {
    left: auto;
    right: 0; }
  .RadToolBarDropDown_rtl.rmRoundedCorners .rtbMenu:before {
    border-radius: 0 5px 5px 0; }
