
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTenantThemePrivate.cshtml";
}

<h2>Index</h2>

<table width="100%">
    <tr>
        <td>
            <a href="#" onclick="fnUploadIndex()"> Upload Indexes</a>
        </td>
        <td>
        Search&nbsp;&nbsp;:&nbsp;&nbsp;
            <input id="txtsearch" name="txtsearch" type="text" />
            <a href="#" onclick="fnsearchIndex()"> Search Indexes</a>
        </td>
    
    </tr>
</table>
<div style="height:400px;overflow:scroll">
    <div id="divresults" style="padding-left:20px"></div>
</div>
<script>

    function fnUploadIndex() {



        var urlnew = "@Url.Action("uploadjson", "TestAzureSearch")";

        alert(urlnew)

        $.ajax({
            url: urlnew,
            type: "POST",
            //contentType: "application/json",
            dataType: "json",
            data: { id: 0 },
            error: function (result) { alert("error"); },
            success: function (result) {
                alert("Indexes uploaded successfully!");


            }
        });
    }

    function fnsearchIndex() {

        $("#divresults").html("");

        var searchtxt = $("#txtsearch").val();

        //var urlneww = "@Url.Action("searchindex", "TestAzureSearch")";
        var urlneww = "@Url.Action("searchindex_fn", "TestAzureSearch")";


        $.ajax({
            url: urlneww,
            type: "POST",
            //contentType: "application/json",
            dataType: "json",
            data: { searchtxt: searchtxt },
            error: function (result) { alert("error"); },
            success: function (data) {

                //  alert(json);
                //alert(data.Results.length)
                var str = "";

                for (var i = 0; i < data.Results.length; i++) {
                   // alert(data.Results[i].Document.ocr);
               
                //var data = JSON.parse(json);;
               
                str += '<hr>';

                $.each(data.Results[i].Document, function (key, value) {

                    if (key == "link") {
                        //str += key + ': <a href=' + value + ">Click Here to View Document</a><br><br>";
                        str += '<a target="_blank" href=' + value + ">Click Here to View Document</a><br><br>";
                    }
                    //if (key == "account_no") {
                    //    str += 'Account No : ' + value + "<br><br>";
                    //}
                    ////if (key == "invoice_no") {
                    ////    str += 'Invoice No : ' + value + "<br><br>";
                    ////}
                    //if (key == "delivery_order") {
                    //    str += 'Delivery Order No : ' + value + "<br><br>";
                    //}
                    if (key == "vendorname") {
                        str += 'Vendor Name : ' + value + "<br><br>";
                    }
                    else {
                        //str += key + ': ' + value + "<br><br>";
                    }

                    // alert(str);
                });

                //str += '<hr>';
                }


                //alert([JSON].Results[0].Document.account_no);

                //var obj = JSON.parse(json);

                //alert(obj);
                //alert(obj.Results.length);
                //alert(json.Results[0].Document.account_no);

                //var obj = JSON.parse(json);

                //alert(obj.Results[0].Document.account_no);

                //debugger;
                //var obj = JSON.parse(json);
                //alert(obj);
                //var j = JSON.stringify(json.account_no);

                //alert(j);

                //alert(data.Results);

                //for (var i = 0; i < data.Results.length; i++) {

                //}

                //alert("Indexes uploaded successfully!");
                // $("#divresults").html(str);
                document.getElementById("divresults").innerHTML = str;

            }
        });
    }



</script>