@model List<HouseOfSynergy.AffinityDms.Entities.Tenants.Template>
@{
    bool isDemo = false;
    List<HouseOfSynergy.AffinityDms.Entities.Tenants.Template> templates = this.Model;
    if (this.Model == null)
    {
        isDemo = true;
        templates = new List<HouseOfSynergy.AffinityDms.Entities.Tenants.Template>();
    }
}
<table class="table" border="0" cellspacing="0" cellpadding="0">
   
        @if (isDemo)
        {
            <tr>
                <td><i class="fa fa-folder" aria-hidden="true"></i></td>
                <td>Salary Report</td>
            </tr>
            <tr>
                <td><i class="fa fa-folder" aria-hidden="true"></i></td>
                <td> Attendance Report </td>
            </tr>
            <tr>
                <td><i class="fa fa-folder" aria-hidden="true"></i></td>
                <td> May Day Slip</td>
            </tr>
            <tr>
                <td><i class="fa fa-folder" aria-hidden="true"></i></td>
                <td> Slip for Employee Number of Employee</td>
            </tr>
            <tr>
                <td><i class="fa fa-folder" aria-hidden="true"></i></td>
                <td> Salary today</td>
            </tr>
            <tr>
                <td><i class="fa fa-folder" aria-hidden="true"></i></td>
                <td> Salary for Job</td>
            </tr>
            <tr>
                <td><i class="fa fa-folder" aria-hidden="true"></i></td>
                <td>Salary Report</td>
            </tr>
            <tr>
                <td><i class="fa fa-folder" aria-hidden="true"></i></td>
                <td> Attendance Report </td>
            </tr>
            <tr>
                <td><i class="fa fa-folder" aria-hidden="true"></i></td>
                <td> May Day Slip</td>
            </tr>
            <tr>
                <td><i class="fa fa-folder" aria-hidden="true"></i></td>
                <td> Slip for Employee Number of Employee</td>
            </tr>
            <tr>
                <td><i class="fa fa-folder" aria-hidden="true"></i></td>
                <td> Salary today</td>
            </tr>
            <tr>
                <td><i class="fa fa-folder" aria-hidden="true"></i></td>
                <td> Salary for Job</td>
            </tr>
        }
        else
        {
            foreach (var template in this.Model.ToList())
            {
                <tr onclick="javascript: scanSessions.ProccessDocumentsForManualClassification(event)">
                    <td style="width: 80px;"><i class="fa fa-folder" aria-hidden="true"></i></td>
                    <td class="tempalteName" data-name="@template.Title" data-id="@template.Id"> @template.Title</td>
                </tr>
            }
        }
</table>
