@model HouseOfSynergy.AffinityDms.Entities.Tenants.ScanSession
@{
    Layout = "~/Views/Shared/_LayoutTenantThemePrivate.cshtml";
    this.ViewBag.IsScanSession = true;

}
<style>
    #ScanSessionGrid > table /* header + data table */ {
        table-layout: auto;
    }
</style>
@Scripts.Render("~/bundles/TypeScript")
<script  type="text/javascript">
    var scanSessions;
    $(document).ready(function () {
        scanSessions = new AffinityDms.Entities.ScanSessions();
    });
</script>
@{
    var errormessage = (ViewBag.ErrorMessage != null) ? (ViewBag.ErrorMessage) : (string.Empty);
    var successmessage = (ViewBag.SuccessMessage != null) ? (ViewBag.SuccessMessage) : (string.Empty);
    string displayError = "none", displaySuccess = "none";
    if (!(string.IsNullOrEmpty(errormessage)))
    {
        displayError = "";
    }
    if (!(string.IsNullOrEmpty(successmessage)))
    {
        displaySuccess = "";
    }
    var Classified = (this.ViewBag.IsClassifiedActive) ?? true;
    this.ViewBag.BreadCrumbsPath = "<li><a href='../../Tenantscansessions/index'>Capture</a></li><li><a href='../../Tenantscansession/index?id=" + this.Model.Id + "'>Session</a></li><li id='classificationTypeBreadcrumb'><a href='../../Tenantscansession/index?id=" + this.Model.Id + "&IsClassifiedActive" + Classified + "'>" + ((Classified) ? ("Classified") : ("Unclassified")) + "</a></li><li><a href='#'>"+ this.Model.Id + "</a></li>";
}
<input type="hidden" id="H_ScanSession" value="@((this.Model != null) ? (this.Model.Id) : (0))" />
<div id="ScanSessionErrorMessage" style="display:@displayError">
    <div class="alert alert-danger" style="overflow:auto">
        <div style="float:right;" class="col-sm-12 col-md-12 col-lg-12"><b style="float:right;cursor:pointer" data-hideMessageDiv="#ScanSessionErrorMessage" id="hideErrorMessageDiv">X</b></div>
        <div style="word-wrap: break-word;margin-right:30px" id="ScanSessionErrorMessageText">@errormessage</div>
    </div>
</div>
<div id="ScanSessionSuccessMessage" style="display:@displaySuccess">
    <div class="alert alert-success" style="overflow:auto">
        <div style="float:right;" class="col-sm-12 col-md-12 col-lg-12"><b style="float:right;cursor:pointer" data-hideMessageDiv="#ScanSessionSuccessMessage" id="hideSuccessMessageDiv">X</b></div>
        <div style="word-wrap: break-word;margin-right:30px" id="ScanSessionSuccessMessageText">@successmessage</div>
    </div>
</div>
<div class="widget-box transparent">
    <div class="widget-body">
        <div class="widget-main no-padding">
            <div id="sessionHolderDiv">
                @{
                    Html.RenderPartial("~/Views/Tenants/ScanSessions/_ScanSession.cshtml", this.Model);
                }
            </div>
        </div>
    </div>
    <!-- /.widget-body -->
</div>
<script type="text/javascript">
    $(document).ready(function (e) {
        $("input#ScanSessionChkbox").on("change", function () {
            SelectAllRelatedCheckboxesByClass("ScanSessionChkbox", "ScanSessionCheckboxes");
            validateScanSessionCheckboxes();
        });
        $("input.ScanSessionCheckboxes").on("change", function () {
            validateScanSessionCheckboxes();
        });

        function validateScanSessionCheckboxes() {
            var ScanSessionCheckboxes = document.getElementsByClassName("ScanSessionCheckboxes");
            var checkedCount = 0;
            for (var i = 0; i < ScanSessionCheckboxes.length; i++) {
                if (ScanSessionCheckboxes[i].checked) {
                    checkedCount++;
                }
            }
            if (ScanSessionCheckboxes.length != checkedCount) {
                var ScanSessionChkbox = document.getElementById("ScanSessionChkbox");
                ScanSessionChkbox.checked = "";
            }
        }
        if ($("ScanSessionErrorMessageText") != null) {
            if ($("#ScanSessionErrorMessageText").text() != null || $("#ScanSessionErrorMessageText").text() != "") {
                setTimeout(function () {
                    $('#ScanSessionErrorMessage').fadeOut('fast');
                    $("#ScanSessionErrorMessage").css("display", "none");
                    $("#ScanSessionErrorMessageText").text("");
                }, AffinityDms.Settings.Constants.PopUpNotificationTimer);
            }
        }
        if ($("ScanSessionSuccessMessageText") != null) {
            if ($("#ScanSessionSuccessMessageText").text() != null || $("#ScanSessionSuccessMessageText").text() != "") {
                setTimeout(function () {
                    $('#ScanSessionSuccessMessage').fadeOut('fast');
                    $("#ScanSessionSuccessMessage").css("display", "none");
                    $("#ScanSessionSuccessMessageText").text("");
                }, AffinityDms.Settings.Constants.PopUpNotificationTimer);
            }
        }
    });
</script>

